spring:
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${google-id}
            client-secret: ${google-secret}
            redirect-uri: "http://localhost:8080/login/oauth2/code/google"
            authorization-grant-type: authorization_code
            scope: profile,email

          kakao:
            client-id: ${kakao-id-ec2}
            redirect-uri: "http://3.35.16.126:8080/login/oauth2/code/kakao"
            client-authentication-method: client_secret_post
            authorization-grant-type: authorization_code
            scope: profile_nickname, profile_image

          naver:
            client-id: ${naver-id-ec2}
            client-secret: ${naver-secret-ec2}
            redirect-uri: "http://3.35.16.126:8080/login/oauth2/code/naver"
            authorization-grant-type: authorization_code
            scope: name, email, profile_image,nickname,gender,mobile
            client-name: Naver

        provider:
          kakao:
            authorization_uri: https://kauth.kakao.com/oauth/authorize
            token_uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user_name_attribute: id
          naver:
            authorization_uri: https://nid.naver.com/oauth2.0/authorize
            token_uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user_name_attribute: response